:root {
  --darkblue: #052c65;
  --blue: #0a58ca;
  --lightblue: #9ec5fe;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0,212,255);
  background: linear-gradient(356deg, var(--darkblue) 0%, var(--lightblue) 30%, var(--darkblue) 100%)
}
#root{
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}